nav {
    display: flex;
    margin-left: 350px;
  }
  
  nav form {
    margin-right: 10px;
  }
  
  nav form:last-child {
    margin-right: 0;
  }
  
  nav input[type="submit"] {
    background-color: #4CAF50;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  nav input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  .data-table {
    width: 80%;
    margin-top: 50px;
    box-shadow: 5px 5px 10px gray;
    border-collapse: collapse;

}
.data-table tr:nth-child(odd){
    background-color:  rgb(36, 34, 34);
}
.data-table tr:nth-child(even){
  background-color:  rgb(58, 57, 57);
}
.data-table td, .data-table th{
    padding: 5px;
    text-align: center;
}

.data-table th{
    background-color: rgb(36, 34, 34);
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    
}
.data-table td{
    font-family: Consolas;
    font-size: 12px;
}