
<html>

<center>

    <h1> Welcome to Your Home Space</h1>
    <nav>

        <a href="/Files">Files</a> | 
        <a href="/Dirs">Dirs</a> | 
        <a href="/Space">Space</a> | 
        
        <a href></a>
        <a href="/logout">Logout</a> | 
        <form  action="/compresser" method="get">
            <input type="submit" value="Compresser"/>
            
        </form>
        </nav>
    <form  action="/rechercher" method="get">
        <input type="text" name="recherche"/>
        <input type="submit" value="Rechercher"/>
        
    </form>
    {% if liste %}
        <table>
            <tr><td>Dossiers</td> <td>Date de modification</td> <td>Taille</td></tr>
            {% for d in liste %}
                
            <tr>
                <td> <a style="color: blueviolet"; href=" {{ d[0] }} "> {{ d[1] }} </a></td>
                <td> {{ d[2] }}  {{ d[3] }}  {{ d[4] }} a {{ d[5] }} </td> 
                <td>            {{ d[6] }} </td>
            </tr>

            {% endfor %}
        </table>
    {% else %}
        <h6 style="padding-top: 40px;color: darkgrey;font-family: 'Segoe UI'; font-size: 70px;"> Aucun Contenu </h6>
    {% endif %}
<ul>
  
</ul>
</center>
</html>
