
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home Space</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <div class="header-menu">
        <div class="logo">
            <img src="../static/images/user1.png" alt="Profile Picture">
            <h1>Welcome douaa !</h1>
        </div>
        <div class="menu-list">
          
                <form  action="/files" method="get">
                    <input type="submit" name="files" value="  Files"/>
                    
                </form>
                <form  action="/dirs" method="get">
                    <input type="submit" name="dirs" value="   Dirs"/>
                    
                </form>
                <form  action="/space" method="get">
                    <input type="submit" name="space" value="    Space"/>
                    
                </form>
                <form  action="/compresser" method="get">
                    <input type="submit" name="compresser" value=" Compresser"/>
                    
                </form>
                <form  action="/logout" method="get">
                    <input type="submit" name="logout" value="   Logout"/>
                    
                </form>
                
        
        </div>

    </div>
    
    <div class="search">
      <form  action="/rechercher" method="get">
        <input type="text" name="recherche" placeholder="Search a file name or extention"/>
        <input  type="submit" name="r" value="     " />
        
    </form>
    </div>
        <h2 style="color: red;">{{error}}</h2>
  </body>

</html>